*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}


nav{
	float: right;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
	padding-left: 8%;
	padding-bottom: 35px;
}


nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: #2c2c2c;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: #357b6d;
	transition: .4s;
}

.hero{
	height: 100vh;
	width: 100%;
    background-image: url(../imgs/hero/heroX.jpeg);
	background-size: cover;
	background-position: center;
}

.hero h5{
    padding-top: 180px;
    padding-left: 50px;
    color: #357b6d;
    font-size: 20px;
}

.hero h3{
    padding-top: 20px;
    padding-left: 50px;
    color: #2c2c2c;
    font-size: 50px;
}

.pHero{
    padding-top: 22%;
    padding-right: 5%;
    padding-left: 40%;
    /* padding-top: 350px;
    padding-right: 70px;
    padding-left: 550px; */

}
.hero p{
    margin-bottom: 15px;
    color: #2c2c2c;
    font-size: 17px;
    text-align: justify;
}

.btnCV{
	display: inline-block;
	background-color: transparent;
	color: #357b6d;
	width: 150px;
	text-decoration: none;
	text-align: center;
	border: 2px solid #357b6d;
	font-weight: bold;
    padding: 10px 15px;
	margin-top: 100px;
    margin-left: 60%;
	transition: transform .4s;
}
.btnCV:hover{
	background-color:#357b6d;
	color: #E7E7E3;
}

.tecSection{
    height: 100vh;
	width: 100%;
    /* background-color: #E7E7E3; */
    padding: 40px 0;
}

.tecSection h3 {
    color: #2c2c2c;
	font-size: 20px;
	width: 1130px;
    margin-left: 10%;
    margin-top: 60px;
    margin-bottom: 20px;
	text-align: center;
}

.tecSection h5 {
    color: #2c2c2c;
	font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
	/* text-align: center; */
}

.tecSection p{

}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	/* min-height: 400px; */
}

.card{
	height: 200px;
	width: 335px;
	padding: 20px 35px;
	margin: 50px;
	position: relative;
	overflow: hidden;
	text-align: center;
    box-shadow: 5px 10px 18px #d6d6d6;
}

.box1{
	display: flex;
	justify-content: center;
	align-items: center;
	/* min-height: 400px; */
}

.card1{
	height: 200px;
	width: 335px;
	padding: 20px 35px;
	margin: 50px;
	position: relative;
	overflow: hidden;
	text-align: center;
    box-shadow: 5px 10px 18px #d6d6d6;
}

.softSkills{
    height: 100vh;
	width: 100%;
    background-color: #EFEFEF;
    padding: 40px 0;
}

.softSkills h3{
    color: #2c2c2c;
	font-size: 20px;
	width: 1130px;
    margin-left: 10%;
    margin-top: 80px;
    margin-bottom: 20px;
	text-align: center;
}

.boxSoftSkills{
	display: flex;
	justify-content: center;
	align-items: center;
	/* min-height: 400px; */
}

.skill{
	height: 70px;
	width: 300px;
	padding: 20px 35px;
	margin: 75px 25px 75px 25px;
	position: relative;
	overflow: hidden;
	text-align: center;
    box-shadow: 5px 10px 18px #d6d6d6;
}

.workExperience{
    /* height: 100vh; */
	width: 100%;
    /* background-color: #E7E7E3; */
    padding: 40px 0;
}

.workExperience h3{
    color: #2c2c2c;
	font-size: 20px;
	width: 1130px;
    margin-left: 10%;
    margin-top: 80px;
    margin-bottom: 20px;
	text-align: center;
}

.boxWork{
	display: inline-block;
	justify-content: center;
	align-items: center;
	/* min-height: 400px; */
}

.work{
	/* height: 200px; */
	width: 750px;
	padding: 20px 35px;
	margin: 75px 25px 75px 325px;
    /* margin: 75px 25px 75px 575px; */
	position: relative;
	overflow: hidden;
	text-align: justify;
    box-shadow: 5px 10px 18px #d6d6d6;
}

.line{
    background-color: #357b6d;
    height: 3px;
	width: 250px;
    margin-left: 40.5%;
    margin-bottom: 30px;
}

.work p{
    margin-top: 3px;
    color: #2c2c2c;
}

.work h4{
    color: #357b6d;
}

.work span{
    color: #2c2c2c;
}

.work h6{
    margin-top: 3px;
    color: #2c2c2c;
}

.certificaciones{
    height: 100vh;
	width: 100%;
    background-color: #EAEAEA;
    padding: 40px 0;
}

.certificaciones h3{
    font-size: 20px;
	width: 1130px;
    margin-left: 10%;
    margin-top: 80px;
    margin-bottom: 20px;
	text-align: center;
}

.boxCurso{
	display: flex;
	justify-content: center;
	align-items: center;
	/* min-height: 400px; */
}

.curso{
	height: 100px;
	width: 300px;
	padding: 20px 35px;
	margin: 50px;
	position: relative;
	overflow: hidden;
	text-align: center;
    box-shadow: 5px 10px 18px #d6d6d6;
}

.curso h4{
    color: #2c2c2c;
}

.curso h6{
    color: #2c2c2c;
    font-size: 12px;
    margin-top: 6px;
}

.curso span{
    color: #2c2c2c;
}

.curso1{
	height: 200px;
	width: 600px;
	padding: 20px 35px;
	margin: 50px;
	position: relative;
	overflow: hidden;
	text-align: center;
    box-shadow: 5px 10px 18px #d6d6d6;
}

.curso1 p {
    margin-top: 6px;
    color: #2c2c2c;
    font-size: 16px;
}

.curso1 h6{
    margin-top: 3px;
    color: #2c2c2c;
    font-size: 18px;
}


.referenciasSection h3{
	color: #2c2c2c;
	font-size: 20px;
	width: 1130px;
    margin-left: 10%;
    margin-top: 80px;
    margin-bottom: 20px;
	text-align: center;
}

.footer{
    margin-top: 100px;
}

.footer p{
    text-align: center;
padding-bottom: 20px;
}


