
*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}


.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../imgs/hero1.jpeg);
	background-size: cover;
	background-position: center;
}

nav{
	float: right;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
	padding-left: 8%;
	padding-bottom: 35px;
}


nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: #2c2c2c;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: #357b6d;
	transition: .4s;
}

.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}

h1{
	color: #2c2c2c;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: #357b6d;
	font-size: 25px;
	margin-bottom: 20px 0px 20px 0px;
}

.btnCV{
	display: inline-block;
	background-color: transparent;
	color: #357b6d;
	width: 150px;
	text-decoration: none;
	text-align: center;
	border: 2px solid #357b6d;
	font-weight: bold;
	padding: 10px 15px;
	transition: transform .4s;
}
.btnCV:hover{
	background-color:#357b6d;
	color: #E7E7E3;
}

p{
	color: #2c2c2c;
	width: 550px;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin: 20px 0px 20px;
}
